<div class="padding-content">
    <!--Sender name & event-->
    <h1>
        {{alert.event}} from {{alert.sender_name}}
    </h1>

    <!--Start & end-->
    <h3>
        <span>{{convertTime(alert.start)}} — {{convertTime(alert.end)}}</span>
    </h3>

    <!--Description-->
    <p *ngFor="let line of descriptionLines">
        {{line}}<br />
    </p>

    <!--Tags-->
    <mat-chip-list id="alert-chip-list">
        <mat-chip *ngFor="let tag of alert.tags" selected>{{tag}}</mat-chip>
    </mat-chip-list>
</div>