<mat-toolbar color="primary" class="mat-elevation-z2">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span class="font-weight-extra-bold">Weather</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button matTooltip="Alerts from weather warning systems">
        <mat-icon color="warn">warning</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Refresh data">
        <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menuWeatherMode" matTooltip="Change mode">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuWeatherMode="matMenu">
        <mat-selection-list [multiple]="false">
            <mat-list-option (click)="changeToCurrent()" [selected]="isCurrent">Current</mat-list-option>
            <mat-list-option (click)="changeToHourly()" [selected]="isHourly">Hourly</mat-list-option>
            <mat-list-option (click)="changeToDaily()" [selected]="isDaily">Daily</mat-list-option>
        </mat-selection-list>
    </mat-menu>
</mat-toolbar>