@use "../weather" as weather;
@use "../../../../styles.scss" as global;

@mixin main-side {
  @include weather.padding-hv;
  width: 15%;
}

.weather-main-parent {
  background-color: #ffffff50;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}

.weather-main {
  @include global.horizontally-apart;
}

.weather-main-left {
  @include main-side;
}

.weather-main-right {
  @include main-side;
  @include weather.padding-hv;
  text-align: right;
}

.weather-main-middle {
  @include weather.padding-hv;
  width: 40%;
  margin: auto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.weather-main-readings {
  display: flex;
  justify-content: center;
}

.weather-main-details {
  @include global.margin-side(right, 2);
  align-self: center;
  text-align: right;
}

.weather-main-details-heading {
  font-weight: 600;
  @include global.margin-side(right, 2);
}

.weather-main-conditions {
  display: inline-flex;
  align-items: center;
  font-size: 1.1rem;
}

.weather-main-temperature {
  font-weight: 700;
  font-size: 9.8em;
  margin: 0;
}

.weather-main-temperature:hover,
.weather-main-feels-like:hover {
  cursor: pointer;
}

.text-underline {
  text-decoration-line: underline;
}

.text-center {
  text-align: center;
}

.align-center {
  align-self: center;
}
