<h1 mat-dialog-title class="mat-title">{{title}}</h1>
<mat-dialog-content class="mat-typography">
    <ng-container *ngIf="!multipleAlerts">
        <app-weather-alert-single [alert]="alerts[0]"></app-weather-alert-single>
    </ng-container>
    <ng-container *ngIf="multipleAlerts">
        <app-weather-alert-multiple [alerts]="alerts"></app-weather-alert-multiple>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button matDialogClose color="warn">UNDERSTOOD</button>
</mat-dialog-actions>