<section class="settings">
    <mat-tab-group>
        <mat-tab class="settings-tab" label="General">
            <section class="settings-option">
                <p class="settings-option-label">Temperature unit</p>
                <mat-radio-group [ngModel]="temperature">
                    <mat-radio-button *ngFor="let option of temperatureOptions" 
                                      class="settings-radio-button"
                                      color="primary"
                                      (click)="changeTemperature(option)"
                                      [value]="option">
                                      {{option}}
                    </mat-radio-button>
                </mat-radio-group>
            </section>
            <section class="settings-option">
                <p class="settings-option-label">Number of significant figures</p>
                <mat-radio-group [ngModel]="significantFigures">
                    <mat-radio-button *ngFor="let option of significantFigureOptions" 
                                      class="settings-radio-button"
                                      color="primary"
                                      (click)="changeSignificantFigures(option)"
                                      [value]="option">
                                      {{option}}
                    </mat-radio-button>
                </mat-radio-group>
            </section>
            <section class="settings-option">
                <p class="settings-option-label">Background image</p>
                <mat-radio-group [ngModel]="backgroundImage">
                    <mat-radio-button *ngFor="let option of backgroundImageOptions" 
                                      class="settings-radio-button"
                                      color="primary"
                                      disabled
                                      (click)="changeBackgroundImage(option)"
                                      [value]="option">
                                      {{option}}
                    </mat-radio-button>    
                </mat-radio-group>
            </section>
            <section class="settings-option">
                <p class="settings-option-label">Theme</p>
                <mat-radio-group [ngModel]="theme">
                    <mat-radio-button *ngFor="let option of themeOptions" 
                                      class="settings-radio-button"
                                      color="primary"
                                      disabled
                                      (click)="changeTheme(option)"
                                      [value]="option">
                                      {{option}}
                    </mat-radio-button>    
                </mat-radio-group>
            </section>
            <section class="settings-option">
                <mat-slide-toggle [ngModel]="degreeSign"
                                  (click)="toggleDegreeSign()"
                                  color="primary">
                    Show degree° sign
                </mat-slide-toggle>
            </section>
        </mat-tab>
        <mat-tab class="settings-tab" label="Settings">
            <!--TODO-->
        </mat-tab>
        <mat-tab class="settings-tab" label="About">
            <!--TODO-->
        </mat-tab>
    </mat-tab-group>
</section>