<section class="settings">
    <mat-tab-group>
        <mat-tab class="settings-tab" label="General">
            <section class="settings-option">
                <p class="settings-option-label">Temperature unit</p>
                <mat-radio-group [ngModel]="temperature" 
                                 matTooltip="Change unit of measurement for temperature readings">
                    <mat-radio-button *ngFor="let option of temperatureOptions" 
                                      class="settings-radio-button"
                                      color="primary"
                                      (click)="changeTemperature(option)"
                                      [value]="option">
                                      {{option}}
                    </mat-radio-button>
                </mat-radio-group>
            </section>
            <section class="settings-option">
                <mat-slide-toggle [ngModel]="degreeSign"
                                  (change)="toggleDegreeSign()"
                                  [matTooltip]="degreeSignTooltip"
                                  color="primary">
                    Show degree° sign
                </mat-slide-toggle>
            </section>
            <section class="settings-option">
                <p class="settings-option-label">Background image</p>
                <mat-radio-group [ngModel]="backgroundImage">
                    <mat-radio-button *ngFor="let option of backgroundImageOptions" 
                                      class="settings-radio-button"
                                      color="primary"
                                      disabled
                                      matTooltip="Not available"
                                      (click)="changeBackgroundImage(option)"
                                      [value]="option">
                                      {{option}}
                    </mat-radio-button>    
                </mat-radio-group>
            </section>
            <section class="settings-option">
                <p class="settings-option-label">Theme</p>
                <mat-radio-group [ngModel]="theme">
                    <mat-radio-button *ngFor="let option of themeOptions" 
                                      class="settings-radio-button"
                                      color="primary"
                                      disabled
                                      matTooltip="Not available"
                                      (click)="changeTheme(option)"
                                      [value]="option">
                                      {{option}}
                    </mat-radio-button>    
                </mat-radio-group>
            </section>
        </mat-tab>
        <mat-tab class="settings-tab" label="Credits">
            <section class="settings-credits-header">
                <img class="settings-credits-header-logo" 
                     src="/assets/images/logo_open_weather.svg"/>
                <span class="settings-credits-header-text">
                    Weather data provided freely by 
                    <a href="https://openweathermap.org/"
                       target="_blank">
                        OpenWeatherMap
                    </a>
                </span>
            </section>
            <mat-divider></mat-divider>
            <section>
                <mat-list>
                    <span mat-subheader>Image Credits</span>
                    <ng-container *ngFor="let credit of creditsImages">
                        <mat-list-item  *ngIf="credit.enabled">
                            <span>
                                {{credit.name}} on 
                                <a [href]="credit.url"
                                   target="_blank">
                                   {{credit.source}}
                                </a>
                            </span>
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </section>
        </mat-tab>
        <mat-tab class="settings-tab" label="About">
                <section class="settings-about">
                    <p class="settings-about-header">
                        CASTER 1.0.0
                    </p>
                    <p class="settings-about-subheader">
                        <a href="https://github.com/pendraic/caster" 
                           target="_blank">
                           Francis Anthony Carmel © 2021
                        </a>
                    </p>
                </section>
            <mat-divider></mat-divider>
            <section>
                <mat-list>
                    <span mat-subheader>Third party applications</span>
                    <ng-container *ngFor="let credit of creditsSoftware">
                        <mat-list-item  *ngIf="credit.enabled">
                            <span>
                                <a [href]="credit.url"
                                   target="_blank">
                                   {{credit.name}} {{credit.version}}
                                </a>
                                ({{credit.type}})
                            </span>
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </section>
        </mat-tab>
    </mat-tab-group>
</section>