<section class="settings mat-app-background">
    <mat-tab-group color="accent">
        <mat-tab class="settings-tab" label="General" >
            <section class="settings-option">
                <p class="settings-option-label">Datasource</p>
                <mat-radio-group [ngModel]="datasource"
                                 matTooltip="Choose where readings will come from">
                    <mat-radio-button *ngFor="let option of datasourceOptions"
                                      class="settings-radio-button"
                                      (click)="changeDatasource(option)"
                                      [value]="option">
                                      {{option}}
                    </mat-radio-button>
                </mat-radio-group>
            </section>
            <section class="settings-option">
                <p class="settings-option-label">Temperature unit</p>
                <mat-radio-group [ngModel]="temperature"
                                 matTooltip="Change unit of measurement for temperature readings">
                    <mat-radio-button *ngFor="let option of temperatureOptions"
                                      class="settings-radio-button"
                                      (click)="changeTemperature(option)"
                                      [value]="option">
                                      {{option}}
                    </mat-radio-button>
                </mat-radio-group>
            </section>
            <section class="settings-option">
                <p class="settings-option-label">Theme</p>
                <mat-radio-group [ngModel]="theme"
                                 matTooltip="Change color palette">
                    <mat-radio-button *ngFor="let option of themeOptions"
                                      class="settings-radio-button"
                                      (click)="changeTheme(option)"
                                      [value]="option">
                                      {{option}}
                    </mat-radio-button>
                </mat-radio-group>
            </section>
            <section class="settings-option">
                <mat-slide-toggle [ngModel]="degreeSign"
                                  (change)="toggleDegreeSign()"
                                  [matTooltip]="degreeSignTooltip">
                    Show degree° sign
                </mat-slide-toggle>
            </section>
        </mat-tab>
        <mat-tab class="settings-tab" label="Credits">
            <section class="settings-credits-header">
                <img class="settings-credits-header-logo"
                     src="/assets/images/logo_credits.svg"/>
                <span class="settings-credits-header-text">
                    Data source provided by
                    <shared-anchor-link href="https://openweathermap.org/" 
                                        text="OpenWeatherMap">
                    </shared-anchor-link>
                </span>
            </section>
            <mat-divider></mat-divider>
            <section>
                <mat-list>
                    <span mat-subheader>Image Credits</span>
                    <ng-container *ngFor="let credit of creditsImages">
                        <mat-list-item  *ngIf="credit.enabled">
                            <span>
                                {{credit.name}} on 
                                <shared-anchor-link [href]="credit.url" 
                                                    [text]="credit.source">
                                </shared-anchor-link>
                            </span>
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </section>
        </mat-tab>
        <mat-tab class="settings-tab" label="About">
                <section class="settings-about">
                    <p class="settings-about-header">
                        CASTER 1.1.11
                    </p>
                    <p class="settings-about-subheader">
                        <shared-anchor-link href="https://github.com/pendraic/caster"
                                            text="Francis Anthony Carmel © 2021">
                        </shared-anchor-link>
                    </p>
                </section>
            <mat-divider></mat-divider>
            <section>
                <mat-list>
                    <span mat-subheader>Third party applications</span>
                    <ng-container *ngFor="let credit of creditsSoftware">
                        <mat-list-item  *ngIf="credit.enabled">
                            <span>
                                <shared-anchor-link [href]="credit.url"
                                                    text="{{credit.name}} {{credit.version}}">
                                </shared-anchor-link>
                                ({{credit.type}})
                            </span>
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </section>
        </mat-tab>
    </mat-tab-group>
</section>