@use "../../../../styles.scss" as global;

a {
  text-decoration: none;
}

.settings {
  @include global.padding-2hv;
}

.settings-tab {
  @include global.padding-2hv;
  margin-left: 100px;
}

.settings-option {
  margin-bottom: 2em;
}

.settings-option-label {
  font-weight: 600;
}

.settings-radio-button {
  margin-right: 2em;
  margin-bottom: 1em;
}

.settings-credits-header {
  display: flex;
  margin: 3vh auto;
  width: 50%;
}

.settings-credits-header-logo {
  $dimension: 140px;

  height: $dimension;
  width: $dimension;
}

.settings-credits-header-text {
  font-size: 2em;
  align-self: center;
  text-align: center;
}

.settings-about {
  text-align: center;
  padding: 2vh;
}

.settings-about-header {
  font-size: x-large;
  font-weight: 800;
}

.settings-about-subheader {
  font-size: large;
  font-weight: 400;
}
