<mat-accordion>
    <mat-expansion-panel *ngFor="let alert of alerts; index as i" [expanded]="isExpanded(i)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{alert.event}} from {{alert.sender_name}}
            </mat-panel-title>
            <mat-panel-description>
                {{epochConverter.convertToTimerange(alert)}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-weather-alert-content [alert]="alert"></app-weather-alert-content>
    </mat-expansion-panel>
</mat-accordion>