<!--TODO Fix css no padding is showing-->
<ng-container *ngIf="loading">
    <mat-progress-bar color="accent" 
                      mode="indeterminate">
    </mat-progress-bar>
</ng-container>
<section *ngIf="!loading" 
         class="locations">
    <mat-form-field class="locations-searchbar"
                    appearance="outline" 
                    color="accent">
        <mat-label>Search for a location</mat-label>
        <input matInput [(ngModel)]="search">
        <button *ngIf="searchable" 
                matSuffix 
                mat-icon-button 
                (click)="clearSearch()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <section>
        <mat-card *ngFor="let location of locations; index as id" 
                  matRipple
                  class="locations-card" 
                  (click)="locationClicked(id)">
            <mat-card-header>
                <mat-icon *ngIf="showLocationIcon(id)" 
                          mat-card-avatar>
                          check_circle
                </mat-icon>
                <mat-card-title>{{location.name}}, {{location.country}}</mat-card-title>
                <mat-card-subtitle class="locations-card-subtitle">
                    {{location.latitude}}, {{location.longitude}}
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </section>
</section>