@use "@angular/material" as mat;
@use "../../../../styles.scss" as global;

.locations {
  @include global.transparent-bg;
  @include global.padding-2hv;
  margin-top: 3vh;
}

.locations-searchbar {
  width: 15rem;
}

.locations-card {
  @include mat.elevation-transition();

  &:hover {
    @include mat.elevation(3);
  }

  display: inline-block;
  margin: 1% 2% 1% 0;
}

.locations-card:hover {
  cursor: pointer;
}
