@use "../../../../styles.scss" as global;

.locations-display {
  @include global.transparent-bg;
  @include global.padding-2hv;
  margin-top: 3vh;
}

.locations-searchbar {
  width: 15rem;
}

.locations-card {
  $margin: 1%;

  display: inline-block;
  margin: $margin $margin + $margin $margin 0;
}

.locations-card:hover {
  cursor: pointer;
}

.locations-card-subtitle {
  margin-top: 10px;
}
