<div *ngIf="weatherModeService.isCurrent && weatherCurrent" class="flexbox">
    <div class="flexbox-contents">
        <p aria-label="Weather's time">{{timeCurrent}}</p>
    </div>
    <div class="flexbox-contents">
        <mat-icon svgIcon="sunrise" color="accent" aria-label="Sunrise"></mat-icon>
        <p aria-label="Sunrise time">{{timeCurrentSunrise}}</p>
    </div>
    <div class="flexbox-contents">
        <mat-icon svgIcon="sunset" color="accent" aria-label=" Sunset"></mat-icon>
        <p aria-label="Sunset time">{{timeCurrentSunset}}</p>
    </div>

</div>
<div *ngIf="weatherModeService.isHourly && weatherHourly">
    <p>DISPLAY icon & chevron_left + Today | Tomorrow & time + icon & chevron_right</p>
</div>
<div *ngIf="weatherModeService.isDaily && weatherDaily">
    <p>DISPLAY DT + Sunrise & icon + Sunset & icon + /br + moon_phase & icon + moon_rise & icon + moon_set & icon</p>
</div>