.flexbox {
  display: flex;
  justify-content: space-between;
}

.flexbox-controls {
  align-self: baseline;
}

.flexbox-block {
  display: block;
}

.flexbox-contents-right {
  align-self: end;
  margin-left: 1vw;
  text-align: right;
}

.flexbox-contents-left {
  display: flex;
  align-self: flex-start;
}