.weather-content-top {
  display: flex;
  justify-content: space-between;
  height: 6rem;
}

.weather-content-top-contents-right {
  align-self: end;
  margin-left: 1rem;
  text-align: right;
}

.weather-content-top-contents-left {
  align-self: end;
  text-align: left;
}
