<div class="content-padding text-unselectable">
    <div class="weather-content-top margin-top-z2">
        <p class="weather-content-top-contents-left"
           aria-label="Location"
           matTooltip="Location">
           {{formattedLocation}}
        </p>
    
        <div *ngIf="showCurrent" class="weather-content-top">
            <div class="weather-content-top-contents-right">
                <p aria-label="Current time" 
                   matTooltip="Current time">
                   {{currentTime}}
                </p>
            </div>
            <div class="weather-content-top-contents-right">
                <mat-icon svgIcon="sunrise" 
                          color="accent" 
                          aria-label="Sunrise icon">
                </mat-icon>
                <p aria-label="Sunrise time" 
                   matTooltip="Sunrise time">
                   {{currentTimeSunrise}}
                </p>
            </div>
            <div class="weather-content-top-contents-right">
                <mat-icon svgIcon="sunset" 
                          color="accent" 
                          aria-label="Sunset icon">
                </mat-icon>
                <p aria-label="Sunset time" 
                   matTooltip="Sunset time">
                   {{currentTimeSunset}}
                </p>
            </div>
        </div>
    
        <div *ngIf="showHourly" class="weather-content-top">
            <div class="weather-content-top-contents-right">
                <button mat-icon-button 
                        aria-label="Previous hour button" 
                        matToolTip="Previous hour"
                        (click)="previousHourlyWeather()">
                    <mat-icon color="accent"
                              aria-label="Previous icon">
                        chevron_left
                    </mat-icon>
                </button>                
                <button mat-icon-button 
                        aria-label="Next hour button"
                        matTooltip="Next hour"
                        (click)="nextHourlyWeather()">
                    <mat-icon color="accent"
                              aria-label="Next icon">
                        chevron_right
                    </mat-icon>
                </button>
                <p aria-label="Hour time" 
                   matTooltip="Time of forecast">         
                   {{hourlyTime}}
                </p>
            </div>
        </div>
    
        <div *ngIf="showDaily" class="weather-content-top">
            <div class="weather-content-top-contents-right">
                <mat-icon svgIcon="sunrise" 
                          color="accent" 
                          aria-label="Sunrise icon">
                </mat-icon>
                <p aria-label="Sunrise time"
                   matTooltip="Sunrise time">
                   {{dailyTimeSunrise}}
                </p>
            </div>
            <div class="weather-content-top-contents-right">
                <mat-icon svgIcon="sunset" 
                          color="accent" 
                          aria-label="Sunset icon">
                </mat-icon>
                <p aria-label="Sunset time"
                   matTooltip="Sunrise time">
                   {{dailyTimeSunset}}
                </p>
            </div>
            <div class="weather-content-top-contents-right">
                <mat-icon [svgIcon]="dailyMoonphaseIcon" 
                          aria-label="Moon phase icon">
                </mat-icon>
                <p aria-label="Moon phase"
                   matTooltip="Moon phase">
                   {{dailyMoonphase}}
                </p>
            </div>
            <div class="weather-content-top-contents-right">
                <mat-icon svgIcon="moonrise" 
                          color="accent" 
                          aria-label="Moon rise icon">
                </mat-icon>
                <p aria-label="Moon rise time"
                   matTooltip="Moon rise time">
                   {{dailyTimeMoonrise}}
                </p>
            </div>
            <div class="weather-content-top-contents-right">
                <mat-icon svgIcon="moonset"
                          color="accent"
                          aria-label=" Moon set icon">
                </mat-icon>
                <p aria-label="Moon set time"
                   matTooltip="Moon set time">
                   {{dailyTimeMoonset}}
                </p>
            </div>
            <div class="weather-content-top-contents-right">
                <button mat-icon-button 
                        aria-label="Previous day button" 
                        matTooltip="Previous day"
                        (click)="dailyPrevious()">
                    <mat-icon color="accent"
                              aria-label="Previous icon">
                        chevron_left
                    </mat-icon>
                </button>
                <button mat-icon-button 
                        aria-label="Next day button" 
                        matTooltip="Next day"
                        (click)="dailyNext()">
                    <mat-icon color="accent"
                              aria-label="Next icon">
                        chevron_right
                    </mat-icon>
                </button>
                <p aria-label="Day time" 
                   matTooltip="Time of forecast">
                   {{dailyTime}}
                </p>
            </div>
        </div>
    </div>
</div>