.space-between {
  justify-content: space-between;
  display: flex;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.flexbox-contents {
  align-self: end;
  margin-left: 1vw;
  text-align: right;
}
