<section class="content-padding weather-content-bottom">
    <div class="weather-content-bottom">
        <div *ngIf="snowIsPresent" class="margin-right-z3">
            <p class="text-f600">Snow</p>
            <p>{{snow}} mm</p>
        </div>
        <div *ngIf="rainIsPresent" class="margin-right-z3">
            <p class="text-f600">Rain</p>
            <p>{{rain}} mm</p>
        </div>
        <div class="margin-right-z3">
            <p class="text-f600">{{precipitationTitle}}</p>
            <p>{{precipitation}}</p>
        </div>
    </div>
    <div class="weather-content-bottom text-align-right">
        <div class="margin-left-z3">
            <p class="text-f600">Dew point</p>
            <p>{{dewPoint}}°</p>
        </div>
        <div class="margin-left-z3">
            <p class="text-f600">UVI</p>
            <p>{{uvi}}</p>
        </div>
        <div *ngIf="visibilityIsPresent" class="margin-left-z3">
            <p class="text-f600">Visibility</p>
            <p>{{visibility}}</p>
        </div>
    </div>
</section>