@use "../styles.scss" as global;

.sidenav {
  width: 11rem;
}

.sidenav-container {
  @include global.text-no-select;
  height: 100vh;
}

.sidenav-toolbar {
  letter-spacing: 1px;
  font-weight: 800;
}

.sidenav-toolbar-spacer {
  flex: 1 1 auto;
}
