<mat-sidenav-container class="sidenav-container light-theme ">
    <mat-sidenav #drawer 
                 fixedInViewport 
                 class="sidenav" 
                 mode="over">
        <mat-toolbar color="primary" 
                     class="sidenav-toolbar">
                     CASTER
        </mat-toolbar>
        <mat-nav-list>
            <a *ngFor="let navigation of navigationLinks"
               mat-list-item 
               [routerLink]="navigation.link"
               (click)="drawer.close()"
               routerLinkActive="font-weight-f600">
               &nbsp;
               {{navigation.name}}
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="mat-elevation-z4">
            <button mat-icon-button 
                    aria-label="Menu icon" 
                    (click)="drawer.open()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="sidenav-toolbar">{{title}}</span>
            <span class="sidenav-toolbar-spacer"></span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>