@mixin letter-spacing-px($spacing) {
  letter-spacing: #{$spacing}px;
}

.sidenav {
  width: 13vw;
}

.sidenav-container {
  background-color: transparent;
  height: 100vh;
}

.sidenav-container-toolbar {
  @include letter-spacing-px(2);
}

.sidenav-content-toolbar {
  @include letter-spacing-px(1);
}

.text-heavy {
  font-weight: 800;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
