@use "../../../../styles.scss" as global;

@mixin align-self-and-text($self: flex-end, $text: left) {
  align-self: $self;
  text-align: $text;
}

.weather-top {
  @include global.horizontally-apart;
  height: 6rem;
}

.weather-top-parent {
  @include global.padding-2hv;
}

.weather-top-right {
  @include global.margin-side(left, 3);
  @include align-self-and-text($text: right);
}

.weather-top-left {
  @include align-self-and-text($self: center);
  display: block;
}
