<section class="weather-top-parent">
    <section class="weather-top">
        <section class="weather-top-left">
            <button mat-flat-button
                    aria-label="Change mode icon"
                    color="primary"
                    class="margin-right-z1"
                    matTooltip="Change mode"
                    [matMenuTriggerFor]="menuWeatherMode">
                    View <span [@fadeInElement]="titleViewMode">{{titleViewMode}}</span>
            </button>
            <mat-menu #menuWeatherMode="matMenu"
                      class="text-no-select">
                <mat-selection-list [multiple]="false">
                    <mat-list-option (click)="stateManager.changeReadingModeToCurrent()"
                                     [selected]="stateManager.readingModeIsCurrent">
                                     Current
                    </mat-list-option>
                    <mat-list-option (click)="stateManager.changeReadingModeToHourly()"
                                     [selected]="stateManager.readingModeIsHourly">
                                     Hourly
                    </mat-list-option>
                    <mat-list-option (click)="stateManager.changeReadingModeToDaily()"
                                     [selected]="stateManager.readingModeIsDaily">
                                     Daily
                    </mat-list-option>
                </mat-selection-list>
            </mat-menu>
            <ng-container *ngIf="alertsAreAvailable">
                <button mat-raised-button
                        color="warn"
                        aria-label="Alert icon"
                        [@fadeInElement]="alertsButtonText"
                        [matTooltip]="alertsButtonTooltip"
                        (click)="showAlertDialog()"
                        matBadgeColor="warn"
                        [matBadge]="alertsCount">
                    <mat-icon>warning</mat-icon>
                    {{alertsButtonText}}
                </button>
            </ng-container>
        </section>
    
        <section *ngIf="showCurrent" class="weather-top">
            <div class="weather-top-right">
                <p aria-label="Current time"
                   matTooltip="Current time"
                   [@fadeInElement]="currentTime">
                   {{currentTime}}
                </p>
            </div>
            <div class="weather-top-right">
                <mat-icon svgIcon="sunrise"
                          color="accent"
                          aria-label="Sunrise icon">
                </mat-icon>
                <p aria-label="Sunrise time"
                   matTooltip="Sunrise time"
                   [@fadeInElement]="currentTimeSunrise">
                   {{currentTimeSunrise}}
                </p>
            </div>
            <div class="weather-top-right">
                <mat-icon svgIcon="sunset"
                          color="accent"
                          aria-label="Sunset icon">
                </mat-icon>
                <p aria-label="Sunset time"
                   matTooltip="Sunset time"
                   [@fadeInElement]="currentTimeSunset">
                   {{currentTimeSunset}}
                </p>
            </div>
        </section>
    
        <section *ngIf="showHourly" class="weather-top">
            <section class="weather-top-right">
                <button mat-icon-button
                        aria-label="Previous hour button"
                        matToolTip="Previous hour"
                        (click)="hourlyPrevious()">
                    <mat-icon color="accent"
                              aria-label="Previous icon">
                              chevron_left
                    </mat-icon>
                </button>
                <button mat-icon-button
                        aria-label="Next hour button"
                        matTooltip="Next hour"
                        (click)="hourlyNext()">
                    <mat-icon color="accent"
                              aria-label="Next icon">
                              chevron_right
                    </mat-icon>
                </button>
                <p aria-label="Hour time"
                   matTooltip="Time of forecast"
                   [@fadeInElement]="hourlyTime">         
                   {{hourlyTime}}
                </p>
            </section>
        </section>
    
        <section *ngIf="showDaily" class="weather-top">
            <section class="weather-top-right">
                <mat-icon svgIcon="sunrise"
                          color="accent"
                          aria-label="Sunrise icon">
                </mat-icon>
                <p aria-label="Sunrise time"
                   matTooltip="Sunrise time"
                   [@fadeInElement]="dailyTimeSunrise">
                   {{dailyTimeSunrise}}
                </p>
            </section>
            <section class="weather-top-right">
                <mat-icon svgIcon="sunset"
                          color="accent"
                          aria-label="Sunset icon">
                </mat-icon>
                <p aria-label="Sunset time"
                   matTooltip="Sunrise time"
                   [@fadeInElement]="dailyTimeSunset">
                   {{dailyTimeSunset}}
                </p>
            </section>
            <section class="weather-top-right"
                     [@fadeInElement]="dailyMoonphase">
                <mat-icon [svgIcon]="dailyMoonphaseIcon"
                          aria-label="Moon phase icon">
                </mat-icon>
                <p aria-label="Moon phase"
                   matTooltip="Moon phase">
                   {{dailyMoonphase}}
                </p>
            </section>
            <section class="weather-top-right">
                <mat-icon svgIcon="moonrise"
                          color="accent"
                          aria-label="Moon rise icon">
                </mat-icon>
                <p aria-label="Moon rise time"
                   matTooltip="Moon rise time"
                   [@fadeInElement]="dailyTimeMoonrise">
                   {{dailyTimeMoonrise}}
                </p>
            </section>
            <section class="weather-top-right">
                <mat-icon svgIcon="moonset"
                          color="accent"
                          aria-label=" Moon set icon">
                </mat-icon>
                <p aria-label="Moon set time"
                   matTooltip="Moon set time"
                   [@fadeInElement]="dailyTimeMoonset">
                   {{dailyTimeMoonset}}
                </p>
            </section>
            <section class="weather-top-right">
                <button mat-icon-button
                        aria-label="Previous day button"
                        matTooltip="Previous day"
                        (click)="dailyPrevious()">
                    <mat-icon color="accent"
                              aria-label="Previous icon">
                              chevron_left
                    </mat-icon>
                </button>
                <button mat-icon-button
                        aria-label="Next day button"
                        matTooltip="Next day"
                        (click)="dailyNext()">
                    <mat-icon color="accent"
                              aria-label="Next icon">
                              chevron_right
                    </mat-icon>
                </button>
                <p aria-label="Day time"
                   matTooltip="Time of forecast"
                   [@fadeInElement]="dailyTime">
                   {{dailyTime}}
                </p>
            </section>
        </section>
    </section>
</section>