<ng-container *ngIf="loading">
    <mat-progress-bar color="accent"
                      mode="indeterminate">
    </mat-progress-bar>
</ng-container>

<ng-container *ngIf="!loading">
    <app-weather-content-top [weatherData]="weatherData"></app-weather-content-top>
    <app-weather-content-main [weatherData]="weatherData" 
                              [weatherLocation]="weatherLocation">
    </app-weather-content-main>
    <app-weather-content-bottom [weatherData]="weatherData"></app-weather-content-bottom>
</ng-container>