.main {
  background-color: #ffffff50;
}

.main-contents {
  display: flex;
  justify-content: space-between;
}

.main-contents-side {
  width: 15%;
}

.main-contents-middle {
  width: 40%;
}

.main-contents-side-contents {
  padding-bottom: 1%;
}

.icon-text {
  display: inline-flex;
  align-items: center;
}

.main-temperature {
  margin: 0;
  font-size: 144px;
}

.main-feels-like {
  margin: 0;
  margin-right: 24px;
}

.main-weather {
  margin: 0;
  font-size: 24px;
}

.main-weather-condition {
  margin-left: 4px;
}
