.weather-content-main {
  background-color: #ffffff50;
}

.weather-content-main-contents {
  display: flex;
  justify-content: space-between;
}

.weather-content-main-contents-side {
  width: 15%;
}

.weather-content-main-contents-middle {
  width: 40%;
  margin: auto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.weather-content-main-temperature {
  margin: 0;
  font-size: 9.8em;
}

.weather-content-main-icon-text {
  display: inline-flex;
  align-items: center;
  font-size: 1.6em;
}
