<div class="main">
    <div class="main-contents">
        <div class="content-padding main-contents-side">
            <div class="main-contents-side-contents">
                <p class="text-semibold">Cloudiness</p>
                <p>89%</p>
            </div>
            <div class="main-contents-side-contents">
                <p class="text-semibold">Pressure</p>
                <p>1012 hPa</p>
            </div>
            <div class="main-contents-side-contents">
                <p class="text-semibold">Humidity</p>
                <p>84%</p>
            </div>
        </div>
        <div class="content-padding main-contents-middle">
            <div class="text-center">
                <div>
                    <p class="text-bold main-temperature">26°</p>
                </div>
                <div class=" icon-text main-weather">
                    <p class="main-feels-like">Feels like 27</p>
                    <mat-icon svgIcon="">storm</mat-icon>
                    <p>Overcast Clouds</p>
                </div>
            </div>
        </div>
        <div class="content-padding main-contents-side main-contents-side-right">
            <div class="main-contents-side-contents">
                <p class="text-semibold">Wind Speed</p>
                <p>2.53 m/s</p>
            </div>
            <div class="main-contents-side-contents">
                <p class="text-semibold">Pressure</p>
                <p>350°</p>
            </div>
            <div class="main-contents-side-contents">
                <p class="text-semibold">Humidity</p>
                <p>3.17 m/s</p>
            </div>
        </div>
    </div>
</div>