<div class="weather-main-parent">
    <div class="weather-main">
        <div class="weather-main-left">
            <div class="margin-bottom-z3">
                <p class="weather-main-semibold">Cloudiness</p>
                <p>{{cloudiness}}%</p>
            </div>
            <div class="margin-bottom-z3">
                <p class="weather-main-semibold" 
                   matTooltip="Atmospheric pressure on the sea level">
                   Pressure
                </p>
                <p>{{pressure}} hPa</p>
            </div>
            <div class="margin-bottom-z3">
                <p class="weather-main-semibold">Humidity</p>
                <p>{{humidity}}%</p>
            </div>
        </div>
        <div class="weather-main-middle">
            <div class="text-center">
                <div class="weather-main-readings">
                    <div *ngIf="showDailyDetailReading" 
                        matRipple 
                        [matRippleUnbounded]="true"
                        class="weather-main-details" 
                        (click)="changeDailyDetailViewMode()">
                        <ng-container *ngIf="dailyDetailReadingModeIsTemperature">
                            <p><span class="weather-main-details-heading">Min</span>{{min}}</p>
                            <p><span class="weather-main-details-heading">Max</span>{{max}}</p>
                        </ng-container>
                        <p><span class="weather-main-details-heading">Morning</span>{{morning}}</p>
                        <p><span class="weather-main-details-heading">Evening</span>{{evening}}</p>
                        <p><span class="weather-main-details-heading">Night</span>{{night}}</p>
                    </div>
                    <div class="align-center">
                        <p class="weather-main-temperature"
                            [ngClass]="{'text-underline': underlineTemperature}">
                            {{temperature}}°
                        </p>
                    </div>
                </div>
                <div class="weather-main-conditions">
                    <p class="margin-right-z2" 
                       matTooltip="Human perception of weather"
                       [ngClass]="{'text-underline': underlineFeelsLike}">
                       Feels like {{feelsLike}}
                    </p>
                    <mat-icon [svgIcon]="weatherIcon"></mat-icon>
                    <p class="margin-left-z1">{{weatherDescription}}</p>
                </div>
            </div>
        </div>
        <div class="weather-main-right">
            <div class="margin-bottom-z3">
                <p class="weather-main-semibold">Wind Speed</p>
                <p>{{windSpeed}} m/s</p>
            </div>
            <div class="margin-bottom-z3">
                <p class="weather-main-semibold">Wind Direction</p>
                <p>{{windDirection}}°</p>
            </div>
            <div *ngIf="windGustIsPresent" class="margin-bottom-z3">
                <p class="weather-main-semibold">Wind Gust</p>
                <p>{{windGust}} m/s</p>
            </div>
        </div>
    </div>
</div>