<div class="weather-content-main">
    <div class="weather-content-main-contents">
        <div class="content-padding weather-content-main-contents-side">
            <div class="margin-bottom-z3">
                <p class="text-f600">Cloudiness</p>
                <p>{{cloudiness}}%</p>
            </div>
            <div class="margin-bottom-z3">
                <p class="text-f600">Pressure</p>
                <p>{{pressure}} hPa</p>
            </div>
            <div class="margin-bottom-z3">
                <p class="text-f600">Humidity</p>
                <p>{{humidity}}%</p>
            </div>
        </div>
        <div class="content-padding weather-content-main-contents-middle">
            <div class="text-align-center">
                <div>
                    <p class=" text-f700 weather-content-main-temperature">{{temperature}}°</p>
                </div>
                <div class="weather-content-main-icon-text">
                    <p class="margin-right-z2">Feels like {{feelsLike}}</p>
                    <mat-icon [svgIcon]="weatherIcon"></mat-icon>
                    <p class="margin-left-z1">{{weatherDescription}}</p>
                </div>
            </div>
        </div>
        <div class="content-padding weather-content-main-contents-side text-align-right">
            <div class="margin-bottom-z3">
                <p class="text-f600">Wind Speed</p>
                <p>{{windSpeed}} m/s</p>
            </div>
            <div class="margin-bottom-z3">
                <p class="text-f600">Wind Direction</p>
                <p>{{windDirection}}°</p>
            </div>
            <div *ngIf="windGustIsPresent" class="margin-bottom-z3">
                <p class="text-f600">Wind Gust</p>
                <p>{{windGust}} m/s</p>
            </div>
        </div>
    </div>
</div>