html,
body {
  font-family: Montserrat;
  margin: 0;
}
html {
  background: url("/assets/images/background/light.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.padding-content {
  padding: 1vh 1vw;
}
