html,
body {
  font-family: Montserrat;
  margin: 0;
}

// TODO Prepare for light/dark theme
html {
  background: url("/assets/images/background/light.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin text-no-select {
  $select: none;

  -webkit-touch-callout: $select;
  -webkit-user-select: $select;
  -khtml-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}

.text-no-select {
  @include text-no-select;
}

@mixin margin-side($side, $i) {
  margin-#{$side}: #{$i * 10}px;
}

@for $i from 1 through 3 {
  $sides: left, bottom, right;

  @each $side in $sides {
    .margin-#{$side}-z#{$i} {
      @include margin-side($side, $i);
    }
  }
}
