@use "@angular/material" as mat;

@use "./app/modules/locations/locations/locations-theme" as locations;

@include mat.core();

$dark-primary-text: #f7fbfc;
$dark-secondary-text: #f9eb4e;
$light-primary-text: #121721;

$palette-fogra29: (
  50: #4f6692,
  100: #405377,
  200: #39496a,
  300: #32405d,
  400: #2b374f,
  500: #242e42,
  600: #1d2535,
  700: #121721,
  800: #0e121a,
  900: #07090d,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$palette-corn: (
  50: #fdf9c4,
  100: #fbf49d,
  200: #fbf28a,
  300: #faf076,
  400: #faee62,
  500: #f9eb4e,
  600: #f6e73d,
  700: #f3e22c,
  800: #f0de1b,
  900: #ecd909,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$palette-rosso-corsa: (
  50: #fa4c4c,
  100: #f92424,
  200: #f91010,
  300: #ef0606,
  400: #db0606,
  500: #c90505,
  600: #b30505,
  700: #9f0404,
  800: #8b0404,
  900: #770404,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$palette-tart-orange: (
  50: #ffadb0,
  100: #ff8589,
  200: #ff7075,
  300: #ff5c61,
  400: #ff474e,
  500: #ff2f35,
  600: #ff1f26,
  700: #ff0a12,
  800: #f50008,
  900: #e00007,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$typography: mat.define-typography-config(
  $font-family: "Montserrat",
);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette($palette-corn),
      accent: mat.define-palette($palette-fogra29),
      warn: mat.define-palette($palette-rosso-corsa),
    ),
    typography: $typography,
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette($palette-fogra29),
      accent: mat.define-palette($palette-corn),
      warn: mat.define-palette($palette-tart-orange),
    ),
    typography: $typography,
  )
);

// NOTE when changing base theme, also change the initial value of the state
@include mat.core-theme($light-theme);
@include mat.all-component-themes($light-theme);

@include locations.card-background-color($light-theme);

.theme-dark {
  @include mat.core-color($dark-theme);
  @include mat.all-component-colors($dark-theme);

  color: $dark-primary-text;
}
