@mixin horizontally-apart {
  display: flex;
  justify-content: space-between;
}

@mixin margin-side($side, $i) {
  $margin: $i * 10;

  margin-#{$side}: #{$margin}px;
}

@mixin padding-2hv {
  $value: 2;

  padding: #{$value}vh #{$value}vw;
}

@mixin text-no-select {
  $select: none;

  -webkit-touch-callout: $select;
  -webkit-user-select: $select;
  -khtml-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}

@mixin transparent-bg {
  // TODO Make this responsive if theme is light or dark since the current configuration values work great for light but looks less effective for dark theme
  background: rgba(255, 255, 255, 0.5); // Use an `a` value of 0.2 for DARK and 0.5 for LIGHT
}

html,
body {
  font-family: Montserrat;
  margin: 0;
}

// TODO Move to app component
html {
  background: no-repeat fixed;
  background-image: url("/assets/images/light.jpg");
  background-size: cover;
}

.text-no-select {
  @include text-no-select;
}

.font-weight-f600 {
  font-weight: 600;
}

@for $i from 1 through 3 {
  @each $side in left, bottom, right {
    $margin: margin-#{$side}-z#{$i};

    .#{$margin} {
      @include margin-side($side, $i);
    }
  }
}
