<span mat-dialog-title>{{title}}</span>
<mat-dialog-content class="padding-bottom-p1">
    <ng-container *ngIf="singleAlert">
        <app-weather-alert-single [alert]="alerts[0]"></app-weather-alert-single>
    </ng-container>
    <ng-container *ngIf="!singleAlert">
        <app-weather-alert-multiple [alerts]="alerts"></app-weather-alert-multiple>
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button
            matDialogClose
            color="warn">
            Understood
    </button>
</mat-dialog-actions>