<!--TODO Theme-->
<mat-sidenav-container class="sidenav-container light-theme">
    <mat-sidenav #drawer
                fixedInViewport
                class="sidenav"
                mode="over">
        <mat-toolbar color="primary" 
                     class="text-heavy sidenav-container-toolbar">
                     CASTER
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="/weather">
                &nbsp;
                Weather
            </a>
            <a mat-list-item href="/locations">
                &nbsp;
                Locations
            </a>
            <a mat-list-item href="/air-pollution">
                &nbsp;
                Air Pollution
            </a>
            <br/>
            <a mat-list-item href="/settings">
                <mat-icon>settings</mat-icon>
                &nbsp;
                Settings
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="mat-elevation-z2" 
                     color="primary">
            <button mat-icon-button 
                    aria-label="Menu icon" 
                    (click)="drawer.open()">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="text-heavy sidenav-content-toolbar">{{title}}</span>
            <span class="toolbar-spacer"></span>
            <ng-content select="[toolbar-actions]"></ng-content>
        </mat-toolbar>
        <ng-content select="[sidenav-contents]">
        </ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>